
.box{
    
 
    max-width: 50rem;
    width: 100%;

}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.button{
    font-size: 1.6rem;
    width: 22rem;
    height: 5rem;  
}