@mixin modal-layout {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  max-width: 100rem;
  width: 100%;
}

.modal {
  @include modal-layout;
  background-color: #fff;

  &--dark-theme {
    @include modal-layout;
    background-color: #212529;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    width: 5rem;
    height: 5rem;

    top: 1%;
    right: 1%;

    font-size: 5rem;

    background-color: transparent;

    border: none;
    border-radius: 2px;

    color: #c5f6fa;

    transition: all 0.3 ease-in-out;

    &:hover {
      cursor: pointer;
      color: #08fdd8;
    }
  }
}
