.form {
  &_flex {
    display: flex;
    gap: 1.6rem;
  }

  &_checkbox-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.6rem;
    color: #c5f6fa;
  }

  &_checkbox {
    width: 1.2rem;
    height: 1.2rem;
  }

  &_editor-container {
    padding: 1.5rem;
    margin-bottom: 1.6rem;
    background-color: #fff;
    color: #000;

    transition: all 0.3ms ease-in-out;

    &--dark {
      background-color: #212529;
      color: #eee;
      border: 1px solid #08fdd8;
      padding: 1.5rem;
      margin-bottom: 1.59rem;
    }
  }

  &_button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &_button-flex {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__button {
    font-size: 1.6rem;
    width: 22rem;
    height: 5rem;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__error {
    font-size: 1rem;
    color: #ff6b6b;
  }
}

pre {
  color: #000;
}
