@import "./utils.scss";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  background-color: #212529;

  @include breakpoint-tablet {
    font-size: 56.25%;
  }

  @include breakpoint-laptop {
    font-size: 80%;
  }
}

body {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  padding-top: 12rem;

  color: #fff;

  font-size: 1.8rem;
  line-height: 1;
  font-weight: 400;

  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
}

td {
  border: 1px solid;
}

.MuiSvgIcon-root {
  font-size: 1.8rem !important;
}

.tippy-box[data-theme~="tomato"] {
  background-color: tomato;
  color: yellow;
}

.drag-button {
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;
  outline: 0;

  min-width: 1.8rem;
  min-height: 1.8rem;
}

.page_form-layout {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: block;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #08fdd8;
  background-color: inherit;

  color: #08fdd8;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:after {
    background: #c5f6fa;
    z-index: 5;
  }

  &:hover {
    box-shadow: inset 22rem 0 0 0 #08fdd8;
    color: #212529;
  }
  &:disabled:hover,
  &:disabled:active {
    border: solid 1px #ff6b6b;
    box-shadow: inset 22rem 0 0 0 #ff6b6b !important;
    cursor: not-allowed !important;
  }

  &:disabled:hover::after {
    background: #ffc9c9;
    z-index: 5;
  }
}
